<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJs for toggle button</title>
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/css/prism.css" rel="stylesheet">
    <style>
    kbd {
      display: block;
      padding: 10px 10px;
    }
    pre.code {
      background-color: #f5f2f0;
      margin: 5px 0;
      padding: 10px;
    }
    .col-left,.col-right {
      height: 100%;
      position: absolute;
      background: #fff;
    }
    .col-left {
      border-right: 1px solid rgba(0,0,0,.07);
      width: 300px;
      position: fixed;
    }
    .col-right {
      left: 300px;
      right: 0;
    }
    #book-search-input {
      background-color: #fafafa;
      padding: 6px;
      transition: top .5s ease;
      border-bottom: 1px solid rgba(0,0,0,.07);
      border-top: 1px solid rgba(0,0,0,.07);
      margin-bottom: 10px;
      margin-top: -1px;
      font-size: 13px;
    }
    #book-search-input input, #book-search-input input:focus, #book-search-input input:hover {
      width: 100%;
      background: 0 0;
      border: 1px solid transparent;
      box-shadow: none;
      outline: 0;
      line-height: 22px;
      padding: 7px 7px;
      color: inherit;
    }
    ul.summary {
      list-style: none;
      margin: 0;
      padding: 0;
      -webkit-transition: top .5s ease;
      -moz-transition: top .5s ease;
      -o-transition: top .5s ease;
      transition: top .5s ease;
    }
    ul.summary li {
      list-style: none;
      margin-top: 10px;
      margin-left: 30px;
    }
    ul.summary li a, ul.summary li span {
      color: #7f8c8d;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
      font-size: 14px;
    }
    ul.summary li.active>a {
      color: #42b983;
      font-weight: 600;
      font-size: 15px;
    }
    </style>
  </head>

  <body>
  <div class="container-fluid" id="main">
    <div class="row">
      <div class="col-left">
        <div id="book-search-input" role="search">
          <input type="text" placeholder="Type to search" v-model="searchKey">
        </div>
        
        <nav role="navigation">
          <ul class="summary">
            <li
              class="chapter"
              v-for="item in menuData"
              :class="{'active':item.active}"
              @click="toPath(item)"><a href="javascript:;">{{item.text}}</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-right">
        <h5 style="margin: 10px 0 20px 0; text-align: center;">
          <a href="https://github.com/gurudin/vue-toggle-button" target="_blank">Toggle button demo</a>
          <a href="https://www.npmjs.com/package/vue-toggle-button" target="_blank">
            <img src="https://img.shields.io/npm/v/vue-toggle-button.svg">
          </a>
          <div style="position: absolute; right: 0; top: 10px">
            <iframe src="https://ghbtns.com/github-btn.html?user=gurudin&amp;repo=vue-toggle-button&amp;type=star&amp;count=true" frameborder="0" scrolling="0" width="94px" height="20px"></iframe>
          </div>
        </h5>

        <div class="col-sm-12" id="install">
          <h3 class="text-dark">安装 (Installation)</h3>
          <ul>
            <li>
              <p class="text-secondary">添加包:</p>
              <p><kbd>$ yarn add vue-toggle-button</kbd></p>
              <p><kbd>$ npm install vue-toggle-button</kbd></p>
            </li>

            <li>
              <p class="text-secondary">引入模块</p>
              <p>
                <pre><code class="language-javascript">import ToggleButton from "vue-toggle-button";</code></pre>
              </p>
            </li>

            <li>
              <p class="text-secondary">文件引入</p>
              <p>
                <pre><code class="language-markup">&lt;!-- CDNJS :: Vue (https://cdnjs.com/) --&gt;
&lt;script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"&gt;&lt;/script&gt;

&lt;!-- Require js --&gt;
&lt;script src="//vue-toggle-button.min.js"&gt;&lt;/script&gt;
</code></pre>
              </p>
            </li>

            <li>
              <p class="text-secondary">示例</p>
              <toggle-button
                v-model="demo.value"
                :options='demo.options'></toggle-button><br>
                value: {{demo.value}}
              <p>
                <pre><code class="language-javascript"># HTML
&lt;toggle-button
  mode="checkbox"
  v-model="value"
  :options='options'&gt;&lt;/toggle-button&gt;

# JS
Vue.component('toggle-button', VueToggleButton.toggleButton)
const vm = new Vue({
  el: "#app",
  data() {
    return {
      options: [
        {label: "Active", value: 'active'},
        {label: "Deactive", value: 'deactive'}
      ]
      value: 'active'
    };
  }
});
</code></pre>
              </p>
            </li>
          </ul>
        </div>

        <div class="col-sm-12" id="button">
          <h3 class="text-dark">按钮切换</h3>
          
          <ul>
            <li>
              <p class="text-secondary">尺寸</p>
              <p><toggle-button
                v-model="button.size.value"
                size="sm"
                :options='button.size.options'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button size="sm">&lt;/toggle-button></code></pre>
              </p>

              <p><toggle-button
                v-model="button.size.value"
                size=""
                :options='button.size.options'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button size="">&lt;/toggle-button></code></pre>
              </p>

              <p><toggle-button
                v-model="button.size.value"
                size="lg"
                :options='button.size.options'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button size="lg">&lt;/toggle-button></code></pre>
              </p>
            </li>

            <li>
              <p class="text-secondary">样式设置</p>
              <p>
                <toggle-button
                  v-model="button.size.value"
                  :toggle='{checked: "info", unchecked: "dark"}'
                  :options='button.size.options'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button :toggle='{checked: "info", unchecked: "dark"}'>&lt;/toggle-button></code></pre>
              </p>
              <p>
                <toggle-button
                  v-model="button.size.value"
                  :toggle='{checked: "rgb(187, 153, 205)", unchecked: "rgb(191, 203, 217)"}'
                  :options='button.size.options'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button :toggle='{checked: "rgb(187, 153, 205)", unchecked: "rgb(191, 203, 217)"}'>&lt;/toggle-button></code></pre>
              </p>
              <p>
                <toggle-button
                  v-model="button.size.value"
                  :options='[{label: "Offline", value: 0, "checked": "warning"}, {label: "Online", value: 1, "checked": "success"}]'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button :options='[{label: "Offline", value: 0, "checked": "warning"}, {label: "Online", value: 1, "checked": "success"}]'>&lt;/toggle-button></code></pre>
              </p>
            </li>

            <li>
              <p class="text-secondary">是否可用</p>
              <p>
                <toggle-button
                  v-model="button.size.value"
                  disabled
                  :options='button.size.options'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button disabled>&lt;/toggle-button></code></pre>
              </p>
            </li>
          </ul>
        </div>

        <div class="col-sm-12" id="checkbox">
          <h3 class="text-dark">复选框切换</h3>
          <ul>
            <li>
              <p class="text-secondary">尺寸</p>
              <p><toggle-button
                v-model="checkbox.value"
                mode="checkbox"
                size="sm"
                :options='[]'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button mode="checkbox" :options='[]' size="sm">&lt;/toggle-button></code></pre>
              </p>

              <p><toggle-button
                v-model="checkbox.value"
                mode="checkbox"
                :options='[]'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button mode="checkbox" :options='[]'>&lt;/toggle-button></code></pre>
              </p>
            </li>

            <li>
              <p class="text-secondary">样式设置</p>
              <p>
                <toggle-button
                  v-model="checkbox.value"
                  mode="checkbox"
                  :toggle='{checked: "info", unchecked: "dark"}'
                  :options='[]'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button mode="checkbox" :toggle='{checked: "info", unchecked: "dark"}'>&lt;/toggle-button></code></pre>
              </p>
              <p>
                <toggle-button
                  v-model="checkbox.value"
                  mode="checkbox"
                  :toggle='{checked: "rgb(187, 153, 205)", unchecked: "rgb(191, 203, 217)"}'
                  :options='[{label: "Offline", value: 0}, {label: "Online", value: 1}]'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button mode="checkbox" :toggle='{checked: "rgb(187, 153, 205)", unchecked: "rgb(191, 203, 217)"}' :options='[{label: "Offline", value: 0}, {label: "Online", value: 1}]'>&lt;/toggle-button></code></pre>
              </p>
            </li>

            <li>
              <p class="text-secondary">是否可用</p>
              <p>
                <toggle-button
                  v-model="checkbox.value"
                  mode="checkbox"
                  disabled
                  :options='[]'></toggle-button>
                <pre><code class="language-javascript">&lt;toggle-button mode="checkbox" disabled>&lt;/toggle-button></code></pre>
              </p>
            </li>
          </ul>
        </div>

        <div class="col-sm-12" id="function">
          <h3 class="text-dark">Function</h3>
          <ul>
            <li>
              <p class="text-secondary">改变前回调方法</p>
              <p>
                <toggle-button
                  v-model="func.value"
                  mode="checkbox"
                  size="sm"
                  :options='func.options'
                  :before="changeBefore"></toggle-button>
<pre><code class="language-javascript">  HTML
  &lt;toggle-button
    v-model="value"
    mode="checkbox"
    size="sm"
    :options='options'
    :before="changeBefore">&lt;/toggle-button>

  JS
  const vm = new Vue({
    data() {
      return {
        value: false,
        options: [
          {label: "Active", value: false},
          {label: "Deactive", value: true}
        ]
      };
    },
    methods: {
      /**
      * 改变前回调
      *
      * @param obj.value 改变后值
      * @param obj.event 当前对象
      *
      * @return Boolean true=修改当前值  false=不修改当前值
      */
      changeBefore(obj) {
        var value = obj.value;
        var event = obj.event;
        
        if (confirm('改变后状态是' + value + ', 确认修改？')) {
          return true;
        } else {
          return false;
        }
      }
    }
  });
</code></pre>
              </p>
            </li>

            <li>
              <p class="text-secondary">改变回调方法</p>
              <p>
                <toggle-button
                  v-model="func.value"
                  size="sm"
                  :options='func.options'
                  @change="change"></toggle-button>
<pre><code class="language-javascript">  HTML
  &lt;toggle-button
    v-model="value"
    size="sm"
    :options='options'
    @change="change">&lt;/toggle-button>

  JS
  const vm = new Vue({
    data() {
      return {
        value: false,
        options: [
          {label: "Deactive", value: false, checked: "warning"},
          {label: "Active", value: true, checked: "success"}
        ]
      };
    },
    methods: {
      change(obj) {
        var value = obj.value; // 改变后的值
        var event = obj.event; // 当前操作对象
        alert(value);
      }
    }
  });
</code></pre>
              </p>
            </li>
          </ul>
        </div>

        <div class="col-sm-12" id="props">
          <h3 class="text-dark">Props</h3>
<pre><code class="language-javascript">
  /**
  * 模式
  *
  * @type {String}
  * 
  * @required false
  *
  * `group` bootstrap `btn-group`样式
  * `checkbox` 复选框样式
  */
  mode: {
    type: String,
    required: false,
    default: 'group' // group|checkbox
  },
  /**
  * 绑定数据
  *
  * @type {mixed}
  *
  * @required true
  */
  value: {
    type: null,
    required: true,
    default: 0
  },
  /**
  * 选择数据
  *
  * @type {Array}
  * 
  * @required true
  *
  * @example [
  *     {label: "Left", value: 1, checked: "primary"},
  *     {label: "Middle", value: 2, checked: "info"},
  *     {label: "Right", value: 3}
  * ]
  * label: 标签描述
  * value: 标签值
  * checked: 选中样式
  */
  options: {
    type: Array,
    required: true
  },
  /**
  * 样式设置
  * 
  * @type {Object}
  * 
  * @required false
  * 
  * @example {checked: "success", unchecked: "secondary"}
  * checked: 选中样式
  * unchecked: 未选中样式
  * 
  * bootstrap3 default|primary|success|info|warning|danger
  * bootstrap4 primary|secondary|success|danger|warning|info|light|dark
  *
  * 自定义颜色 rgb(187, 153, 205)|red|#000000
  */
  toggle: {
    type: Object,
    required: false,
    default: () =>{
      return { checked: "success", unchecked: "secondary" };
    } 
  },
  /**
  * 尺寸
  * 
  * @type {String}
  * 
  * @required false
  * 
  * @example ''|sm|lg
  */
  size: {
    type: String,
    required: false,
    default: ''
  },
  /**
  * 是否可用
  * 
  * @type {Boolean}
  * 
  * @required false
  * 
  * @example true|false
  */
  disabled: {
    type: Boolean,
    required: false,
    default: false
  },
  /**
  * 改变前回调方法
  *
  * @type {Function}
  *
  * @required false
  *
  * @param value 改变后值
  * @param event 当前对象
  */
  before: {
    type: Function,
    required: false,
  }
</code></pre>
        </div>
      </div>
    </div>
  </div>

  <script src="../js/jquery.min.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="../public/js/vue.min.js"></script>
  <script src="../public/js/prism.js"></script>
  <script src="../public/js/vue-toggle-button.min.js"></script>
  <script>
  Vue.component('toggle-button', VueToggleButton.toggleButton)
  const vm = new Vue({
    el: '#main',
    data() {
      return {
        menu: [
          {text: '安装 (Installation)', path: '#install', active: 1},
          {text: '按钮切换', path: '#button', active: 0},
          {text: '复选框切换', path: '#checkbox', active: 0},
          {text: '事件', path: '#function', active: 0},
          {text: 'Props', path: '#props', active: 0}
        ],
        searchKey: '',
        demo: {
          options: [
            {label: "Active", value: 'active'},
            {label: "Deactive", value: 'deactive'}
          ],
          value: 'active',
        },
        button: {
          size: {
            value: 0,
            options: [{label: "Left", value: 0}, {label: "Right", value: 1}]
          }
        },
        checkbox: {
          value: 0,
        },
        func: {
          value: false,
          options: [
            {label: "Deactive", value: false, checked: "warning"},
            {label: "Active", value: true, checked: "success"}
          ],
        }
      };
    },
    computed: {
      menuData() {
        var menus = this.menu;
        var key = this.searchKey;
        if (key != '') {
          menus = menus.filter(row =>{
            return row.text.toLowerCase().indexOf(key.toLowerCase()) > -1;
          });
        }

        return menus;
      }
    },
    methods: {
      toPath(item) {
        this.menu.forEach(row => {
          row.active = row.path == item.path ? 1 : 0;
        });

        $('html, body').animate({scrollTop: $(item.path).offset().top}, 500);
      },
      change(obj) {
        var value = obj.value;
        var event = obj.event;
        alert(value);
      },
      changeBefore(obj) {
        var value = obj.value;
        var event = obj.event;
        
        if (confirm('改变后状态是' + value + ', 确认修改？')) {
          return true;
        } else {
          return false;
        }
      }
    }
  });
  </script>
  </body>
</html>